<!DOCTYPE html>
<html lang="en" style="background-image:url(/static/img/cover.jpg);">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <title>Home page</title>
</head>
<body>
    <h1 id="heading">Home page for AVL tree</h1>
    <div class="div1">
        <a href="http://127.0.0.1:5000/adtinfo"><button class="adtinfo" style="transition: all 0.5s;"><b>AVL Tree Information</b></button></a><br><br>
        <a href="http://127.0.0.1:5000/avlvisual"><button class='adtvisualization' style="transition: all 0.5s;"><b>Visualization</b></button></a>
    </div>
</body>
</html>